/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #030F29;
    background-color: #030F29;
    background-image: url("background_image1.jpg");
    background-size: contain;
}

header {
    background-image: url("background_image1.jpg");

}

header h1 {
    color: #ffffff;
    font-family: Cambria;
    font-size: 300%;
    margin-left: 2%;
    text-align: left;
}
#lang_buttons {
    text-align: right;
    margin-right: 5%;
    margin-top: 1%;
}
#lang_buttons button {
    font-size: larger;
    display: inline-block;
    padding: 0.2%;
    margin: 1%;
    color: white;
    font-family: Cambria;
    background-color: #041F32;
    border: none;
    background-image: url("background_image1.jpg");

    /*border: 0.5px solid white;*/
}




button:hover {
    transform: scale(1.20);
    transition: transform 0.1s ease-in-out;

    /* This increases the size of the element on active state */
}

 main button{
     color: #ffffff;
     margin-left: 1%;
     background-color: #08283F;
     font-family: Cambria  ;
     font-size:180%;
     margin-top: 5%;
     border: none;
     display: block;
     background-image: url("background_image1.jpg");


 }

 .catchphrase{
     color: #ffffff;
     text-align: center;
     font-size: 150%;
     margin-left: 15%;
     margin-top: -50px; /* adjust the value as needed */

 }





#goals h2 {
    font-size: 230%;
    color: #ffffff;
    text-align: center;
    font-family: "Arial";
}
#goals {
    background-color: #183D74;
    padding: 3%;
    margin: 5% 5% 5% 5%;
    border-radius: 10px;
    margin-top: 30%; /* adjust the value as needed */

}

#contacts {
    background-color: #183D74;
    margin: auto;
    max-width: 25%;
    border-radius: 10px;

}
#contacts h2 {
    font-size: 230%;
    margin-top: 15%;
    color: #ffffff;
    text-align: center;
    font-family: "Arial";

}

#contacts p {
    /*margin-top: 5%;*/
    font-size: 100%;

    color: white;
    text-align: center;
    font-family: "Arial";

}


li {
    font-size: 150%;
    color: #fff;
    margin-top: 3%;
    text-align: left;
    padding-left: 5%;
    list-style-type: none;
    transition: transform 0.1s ease-in-out;
}

li:hover {
    transform: scale(1.01);
    /* This increases the size of the element on active state */
}



.image-container img{
    width: 70%;
    padding-left: 20%;
    height: 700px ;

}

#contacts p{
    color: white;

}

/* Footer Styles */
footer {
    background-image: url("background_image1.jpg");
    padding: 20px;
    text-align: center;
}
footer p {
    color: white;
}



.hidden{
    display: none;
}
