body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #030F29;
    background-color: #030F29;
    background-image: url("background_image1.jpg");
    background-size: contain;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    background-color: #f8f8f8; /* Adjust the background color as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
    z-index: 999; /* Adjust the z-index value as needed */
}

.container_logo {
    flex-grow: 1;
    margin-left: -70px; /* Adjust the margin as needed */

}

.logo {
    width: 250px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */

}

#lang_buttons {
    display: flex;
    gap: 20px; /* Adjust the gap between buttons as needed */
    margin-right: 60px;
}






header {
    background-image: url("background_image1.jpg");

}

header h1 {
    color: #ffffff;
    font-family: Fahkwang SemiBold;
    font-size: 300%;
    margin-left: 2%;
    text-align: left;


}

#lang_buttons button {
    font-size: larger;
    display: inline-block;
    padding: 0.2%;
    margin: 1%;
    color: white;
    font-family: Cambria;
    background-color: #041F32;
    border: none;
    background-image: url("background_image1.jpg");

}




button:hover {
    transform: scale(1.20);
    transition: transform 0.1s ease-in-out;

    /* This increases the size of the element on active state */
}

main{
    padding-top: 15%;
}

 main button{
     color: #ffffff;
     margin-left: 1%;
     background-color: #08283F;
     font-family: Cambria  ;
     font-size:180%;
     margin-top: 3%;
     border: none;
     display: block;
     background-image: url("background_image1.jpg");


 }

 .catchphrase{
     color: #ffffff;
     text-align: center;
     font-size: 150%;
     margin-left: 15%;
    margin-top: 4%;
 }





#goals h2 {
    font-size: 230%;
    color: #ffffff;
    text-align: center;
    font-family: "Arial";
}
#goals {
    background-color: rgba(24, 61, 116, 0.7);
    padding: 3%;
    margin: 5% 5% 5% 5%;
    border-radius: 10px;
    margin-top: 30%; /* adjust the value as needed */

}

#contacts {
    background-color: rgba(24, 61, 116, 0.7);
    margin: auto;
    max-width: 35%;
    border-radius: 10px;
    margin-bottom: 10%;

}
#contacts h2 {
    font-size: 230%;
    margin-top: 15%;
    color: #ffffff;
    text-align: center;
    font-family: "Arial";

}

#contacts p {
    /*margin-top: 5%;*/
    font-size: 100%;

    color: white;
    text-align: center;
    font-family: "Arial";

}
ul{
    text-align: justify-all;
}

li {
    font-size: 150%;
    color: #fff;
    margin-top: 3%;
    padding-left: 5%;
    list-style-type: none;
    transition: transform 0.1s ease-in-out;
}

li:hover {
    transform: scale(1.01);
    /* This increases the size of the element on active state */
}





#contacts p{
    color: white;

}
.footer_logo{
    margin-bottom: -100px;
    margin-top: -200px;
    padding-left: 30%;
    width: 40%;
    height: 10%;
}
/* Footer Styles */
footer {
    background-image: url("background_image1.jpg");
    padding: 20px;
    text-align: center;
}
footer p {
    color: white;
}



.hidden{
    display: none;
}