/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #030F29;
    background-color: #030F29;
    background-image: url("background_image3.jpg");
    background-repeat: round;
    background-size: auto;
}

/*header {*/
/*    background-color: #041F32;*/
/*    color: #fff;*/
/*    margin-top: 0;*/
/*    padding-top: 1%; !* add some padding to push content down *!*/
/*    !*max-width: 80%;*!*/
/*    !*border-radius: 10px;*!*/

/*}*/

/*header h1{*/
/*    color: #ffffff;*/
/*    font-family: Cambria ;*/
/*    font-size: 400%;*/
/*    !*border-bottom: 1px solid #ffffff;*!*/
/*    !*width: 100%;*!*/


/*}*/

/*header button {*/

/*    font-size: larger;*/
/*    float: right;*/
/*    margin-right: 3%;*/
/*    padding: 0.5%;*/
/*    color: white;*/
/*    font-family: Cambria  ;*/
/*    background-color: #041F32;*/
/*    border: 0.5px solid white;*/

/*}*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #041F32;
    color: #fff;
    margin-top: 0;
    padding-top: 1%; /* add some padding to push content down */
}

header h1 {
    color: #ffffff;
    font-family: Cambria;
    font-size: 400%;
}


header button {
    font-size: larger;
    display: inline-block;
    padding: 0.2%;
    color: white;
    font-family: Cambria;
    background-color: #041F32;
    border: 0.5px solid white;
}

#english {
    float: right;
    margin-left: 73%;
}

#armenian {
    float: right;
    margin-right: 2%;
}



button:hover {
    transform: scale(1.20);
    transition: transform 0.1s ease-in-out;

    /* This increases the size of the element on active state */
}

 main button{
     color: #ffffff;
     margin-left: 1%;
     background-color: #08283F;
     font-family: Cambria  ;
     font-size:180%;
     margin-top: 5%;
     text-decoration: underline;
     text-underline-offset: 16%;
     border: none;
     display: block;


 }

 .catchphrase{
     color: #ffffff;
     text-align: center;
     font-size: 150%;
     margin-left: 15%;
     margin-top: -50px; /* adjust the value as needed */

 }





#goals h2 {
    font-size: 230%;
    color: #ffffff;
    text-align: center;
    font-family: "Arial";
}
#goals {
    background-color: #0074D9;
    padding: 3%;
    margin: 5% 5% 5% 5%;
    border-radius: 10px;
    margin-top: 30%; /* adjust the value as needed */

}

#contacts {
    background-color: #0074D9;
    margin: auto;
    max-width: 25%;
    border-radius: 10px;

}
#contacts h2 {
    font-size: 230%;
    margin-top: 15%;
    color: #ffffff;
    text-align: center;
    font-family: "Arial";

}

#contacts p {
    /*margin-top: 5%;*/
    font-size: 100%;

    color: white;
    text-align: center;
    font-family: "Arial";

}


li {
    font-size: 150%;
    color: #fff;
    margin-top: 3%;
    text-align: left;
    padding-left: 5%;
    list-style-type: none;
    transition: transform 0.1s ease-in-out;
}

li:hover {
    transform: scale(1.01);
    /* This increases the size of the element on active state */
}



.image-container img{
    width: 70%;
    padding-left: 20%;
    height: 700px ;

}

#contacts p{
    color: white;

}

/* Footer Styles */
footer {
    background-color: #041F32;
    padding: 20px;
    text-align: center;
}
footer p {
    color: white;
}
.line {
    border-top: 1px solid white;
    margin-top: 10%;
}


.hidden{
    display: none;
}
